argcomplete==3.0.8
arrow==1.2.3
asgiref==3.6.0
attrs==22.2.0
b2==3.9.0
b2sdk==1.21.0
boto3==1.26.84
botocore==1.29.84
certifi==2022.12.7
charset-normalizer==3.0.1
colorama==0.4.6
coreapi==2.3.3
coreschema==0.0.4
Django==4.1.5
django-cors-headers==3.13.0
django-storages==1.13.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
docutils==0.19
drf-extensions==0.7.1
drf-extra-fields==3.4.1
drf-spectacular==0.25.1
drf-yasg==1.21.4
idna==3.4
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.17.3
logfury==1.0.1
MarkupSafe==2.1.2
packaging==23.0
phx-class-registry==4.0.6
Pillow==9.4.0
psycopg2-binary==2.9.5
PyJWT==2.6.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
requests==2.28.2
rst2ansi==0.1.5
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.3
tabulate==0.9.0
tqdm==4.65.0
tzdata==2022.7
uritemplate==4.1.1
urllib3==1.26.14
